* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-family: "Lucida Console", monospace;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
   background-color: rgba(0, 0, 0,0.5 );
    border-bottom: 3px solid rgba(51, 204, 254, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Set background color of tooltips ADDED */
/*tooltip {

  background: #1e1e2e;

}*/

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius:0 ;
    
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right:10px;
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 2px;
    margin-left: 3px;
    
}

#workspaces button:hover {
     background: inherit;
    box-shadow: inset 0 -3px #ffffff;
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: transparent;
    
}

#clock
{
	background-color: transparent;
}
#battery
{
	background-color: transparent;
	
}

#cpu
{
	background-color: transparent;
}
#memory
{
	background-color: transparent;
}
#disk
{
	background-color: transparent;
}
#temperature
{
	background-color: transparent;
}
#backlight
{
	background-color: transparent;
}
#network
{
	background-color: transparent;
}
#pulseaudio
{
	background-color: transparent;
	
}
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    border-radius: 8px;
    margin-left:4px; /* ADDED */

}

#window,
#workspaces {
    margin: 0 4px;
    border-radius: 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
}


/* Rounding only on right of module(s) ADDED */

#custom-pacman,

#custom-kernel {

  border-radius: 0 8px 8px 0;

}



#battery {
    background-color: transparent;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#pulseaudio {
    background-color: transparent;
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #ffffff;
}

#wireplumber {
    background-color: transparent;
    color: #000000;
}

#wireplumber.muted {
    background-color: transparent;
}

#custom-media {
    background-color: transparent;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: transparent;
}

#custom-media.custom-vlc {
    background-color: transparent;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
